/* ==========================================================================
   Variables
   ========================================================================== */
@app-bg: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
@list-bg: #E2E4E6;
@add-icon: rgb(94,158,214);
@close-icon: rgb(168,65,65);
@card-bg: white;
